* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*
    use these colors:
        #425E6B
        #61A5A0
        #FAE399
        #F5BB84
        #D48063
*/

body {
  background-color: #425e6b;
  display: flex;
  flex-direction: column;
}

#calc-body {
  background-color: #61a5a0;
  width: 640px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}

#calc-screen {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

button {
  border-style: none;
  background-color: white;
  font-size: larger;
  border-radius: 10px;
}

button:hover {
  background-color: #fae399;
}

#calc-clear-delete {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

#calc-clear-delete > button {
  width: 50%;
  height: 50px;
}

#calc-buttons {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5bb84;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#calc-buttons > button {
  height: 23%;
  width: 23%;
  color: black;
}
